---
import "../styles/global.css";
import Header from "../components/Header.astro";

import { getCollection } from "astro:content";

const blogs_collection = await getCollection("blog");
const blogs = blogs_collection.map((blog) => blog["data"]);

const project_collection = await getCollection("project");
const projects = project_collection.map((projects) => projects["data"]);

const latestBlog =
  blogs.length > 0
    ? blogs.reduce((latest, blog) =>
        blog.pubDate > latest.pubDate ? blog : latest,
      )
    : null;

const latestProject =
  projects.length > 0
    ? projects.reduce((latest, project) =>
        project.pubDate > latest.pubDate ? project : latest,
      )
    : null;

const latestBlogLink = `/blog/${latestBlog.id}`;
const latestProjectLink = `/projects/${latestProject.id}`;

function convertDate(date) {
  const formattedDate = date.toLocaleDateString("en-US", {
    month: "long",
    day: "2-digit",
    year: "numeric",
  });
  return formattedDate;
}

const info = {
  currentRole: "Site Reliability Engineer",
  currentCompany: "The Cigna Group",
  education:
    "Graduated from UMass Amherst with a degree in Computer Science and Computational Mathematics.",
  recentProject: "Working on alexgornovoi.com, read more info here (WIP).",
  interests: "Interested in Artificial Intelligence and Quantitative Finance.",
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Header />
    <main class="flex flex-col items-center justify-center h-full py-10">
      <div class="w-full max-w-3xl p-5">
        <!-- Current Job and Education Section -->
        <div class="flex justify-between gap-5 mb-5">
          <div
            class="content flex-1 p-5 opacity-0 animate-fade-in-down"
            style="animation-delay: 100ms"
          >
            <h3 class="text-xl font-semibold">Current Role</h3>
            <p class="mt-2">
              Working as a <span class="font-bold italic"
                >{info.currentRole}</span
              > at {info.currentCompany}.
            </p>
          </div>

          <div
            class="content flex-1 p-5 opacity-0 animate-fade-in-down"
            style="animation-delay: 150ms"
          >
            <h3 class="text-xl font-semibold">Education</h3>
            <p class="mt-2">{info.education}</p>
          </div>
        </div>

        <!-- Recent Project and Interests Section -->
        <div class="flex justify-between gap-5 mb-5">
          <div
            class="content flex-1 p-5 opacity-0 animate-fade-in-down"
            style="animation-delay: 200ms"
          >
            <h3 class="text-xl font-semibold">Recent Project</h3>
            <p class="mt-2">
              Working on {latestProject.title}, read more info
              <a
                href={latestProjectLink}
                class="text-white font-bold underline underline-offset-2"
                >here</a
              >
            </p>
          </div>

          <div
            class="content flex-1 p-5 opacity-0 animate-fade-in-down"
            style="animation-delay: 250ms"
          >
            <h3 class="text-xl font-semibold">Interests</h3>
            <p class="mt-2">{info.interests}</p>
          </div>
        </div>

        <!-- Latest Blog Section -->
        <div
          class="content flex-1 p-5 opacity-0 mb-5 animate-fade-in-down"
          style="animation-delay: 300ms"
        >
          <h3 class="text-xl font-semibold">Latest Blog</h3>
          <p class="mt-2">
            <a
              href={latestBlogLink}
              class="text-white font-bold underline underline-offset-2"
              >{latestBlog.title}</a
            >
            released on {convertDate(latestBlog.pubDate)}
          </p>
        </div>

        <!-- Contact Section -->
        <div
          class="content flex-1 p-5 opacity-0 mb-5 animate-fade-in-down"
          style="animation-delay: 350ms"
        >
          <h3 class="text-xl font-semibold">Contact</h3>
          <p class="mt-2">
            Feel free to reach me via email at <a
              href="mailto:alex.gornovoi@gmail.com"
              class="text-white font-bold underline underline-offset-2"
              >alex.gornovoi@gmail.com</a
            >.
          </p>
          <p class="mt-2">
            Or connect with me on <a
              href="https://www.linkedin.com/in/alexeygornovoi/"
              class="text-white font-bold underline underline-offset-2"
              target="_blank">LinkedIn</a
            >.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
