---
import { Image } from "astro:assets";
import "../../styles/global.css";
import Tools from "@components/Tools.astro";
import Umass from "@assets/education/umass.png";
import ClientRouter from "astro/components/ClientRouter.astro";
import Header from "@components/Header.astro";
import Github from "@assets/github.svg";

const projects = [
	{
		name: "alexgornovoi.com",
		image: "@assets/projects/project2.png",
		description: "Personal website built using Astro and Tailwindcss. ",
		github: "https://github.com/alexgornovoi/alexgornovoi.com",
		link: "/projects/alexgornovoi.com",
		tools: ["Astro", "Javascript", "Tailwindcss"],
	},
];
---

<html>
	<head>
		<meta charset="utf-8" />
		<ClientRouter />
	</head>
	<body>
		<Header />
		<main class="mt-[calc(50px+1.25rem)] p-5">
			<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
				{
					projects.map(
						(
							{ image, name, description, github, link, tools },
							projIndex,
						) => (
							<div
								class="content flex flex-col justify-between p-5 opacity-0 animate-fade-in-down rounded-lg min-h-[150px] glow-effect cursor-pointer"
								style={`animation-delay: ${projIndex * 200}ms;`}
								data-link={link}
							>
								<div class="flex items-center justify-between">
									<p class="text-2xl font-bold">{name}</p>
									<a
										class="flex items-center mx-1 group"
										href={github}
										target="_blank"
									>
										<Image
											src={Github}
											width="18"
											alt={name + "-Github"}
											class="mr-1 group-hover:cursor-pointer"
										/>
										<span class="relative">
											<span class="relative before:absolute before:left-1/2 before:bottom-0 before:w-0 before:h-[2px] before:bg-off-white before:transition-all before:duration-200 before:ease-in-out group-hover:before:w-full group-hover:before:left-0">
												Source
											</span>
										</span>
									</a>
								</div>
								<p class="text-sm mt-2 flex-grow">
									{description}
								</p>
								<div class="flex mt-1.5 flex-wrap pt-4">
									<Tools tools={tools} />
								</div>
							</div>
						),
					)
				}
			</div>
		</main>
	</body>
</html>

<script>
	const projectDivs = document.querySelectorAll(".content");

	projectDivs.forEach((projectDiv) => {
		projectDiv.addEventListener("click", () => {
			console.log("???");
			const projectLink = projectDiv.getAttribute("data-link");
			window.location.href = projectLink;
		});
	});
</script>
