---
import { Image } from "astro:assets";
import "../../styles/global.css";
import Tools from "@components/Tools.astro";
import Header from "@components/Header.astro";
import Github from "@assets/github.svg";
import { getCollection, render } from 'astro:content';


const project_collection = await getCollection('project')
const projects = project_collection.map((projects)=>projects["data"])
---

<html>
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<Header />
		<main class="mt-[calc(50px+1.25rem)] p-5">
			<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
				{
					projects.map(
						(
							{ title, description, github, id, tools },
							projIndex,
						) => (
							<div
								class="content flex flex-col justify-between p-5 opacity-0 animate-fade-in-down rounded-lg min-h-[150px] glow-effect cursor-pointer"
								style={`animation-delay: ${projIndex * 200}ms;`}
								data-link={id}
							>
								<div class="flex items-center justify-between">
									<p class="text-2xl font-bold">{title}</p>
									<a
										class="flex items-center mx-1 group"
										href={github}
										target="_blank"
									>
										<Image
											src={Github}
											width="18"
											alt={title + "-Github"}
											class="mr-1 group-hover:cursor-pointer"
										/>
										<span class="relative">
											<span class="relative before:absolute before:left-1/2 before:bottom-0 before:w-0 before:h-[2px] before:bg-off-white before:transition-all before:duration-200 before:ease-in-out group-hover:before:w-full group-hover:before:left-0">
												Source
											</span>
										</span>
									</a>
								</div>
								<p class="text-sm mt-2 flex-grow">
									{description}
								</p>
								<div class="flex mt-1.5 flex-wrap pt-4">
									<Tools tools={tools} />
								</div>
							</div>
						),
					)
				}
			</div>
		</main>
	</body>
</html>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const projectDivs = document.querySelectorAll(".content");

		projectDivs.forEach((projectDiv) => {
			projectDiv.addEventListener("click", () => {
				console.log("clicked")
				const projectLink = projectDiv.getAttribute("data-link");
				window.location.href = "projects/" + projectLink;
			});
		});
	});
</script>
