---
import { Image } from "astro:assets";
import "../../../styles/global.css";
import Umass from "@assets/education/umass.png";
import GeorgiaTech from "@assets/education/georgiatech.png";

interface EducationEntry {
  logo: any;
  name: string;
  time: string;
  major: string;
  degreeType: string;
}

const education: EducationEntry[] = [
  {
    logo: GeorgiaTech,
    name: "Georgia Institute of Technology",
    time: "August, 2025 - Present",
    major: "Computer Science (Machine Learning specialization)",
    degreeType: "Master of Science",
  },
  {
    logo: Umass,
    name: "University of Massachusetts Amherst",
    time: "September, 2020 - May, 2024",
    major: "Computer Science & Computational Mathematics",
    degreeType: "Bachelor of Science",
  },
];
---

{
  education.map(({ logo, name, time, major, degreeType }, index) => (
    <div
      class="content flex-1 p-5 opacity-0 mb-4 animate-fade-in-down"
      style={`animation-delay: ${index * 200}ms;`}
    >
      <div class="flex items-center">
        <div class="w-20 h-20 flex items-center bg-off-white mr-5 rounded-lg">
          <Image alt={name} src={logo} class="w-50" />
        </div>
        <div class="flex flex-col">
          <p class="text-2xl font-bold">{name}</p>
          <p class="text-sm">{degreeType}</p>
          <p>{major}</p>
          <p class="text-sm">{time}</p>
        </div>
      </div>
    </div>
  ))
}

<!--Template 
{
        logo: ,
        name: "",
        time: "",
        major: ""
},
-->
